In [1]:
# First let's import the packages we will use in this project
# You can do this all now or as you need them
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\shaha\Documents\Python\Data Cleaning\bike sales data.csv")

In [3]:
df.shape

(89, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sales_Order #        89 non-null     int64
 1   Date                 89 non-null     object
 2   Day                  88 non-null     float64
 3   Month                89 non-null     object
 4   Year                 89 non-null     int64
 5   Customer_Age         89 non-null     int64
 6   Customer_Gender      89 non-null     object
 7   Country              89 non-null     object
 8   State                89 non-null     object
 9   Product_Category     89 non-null     object
 10  Sub_Category         89 non-null     object
 11  Product_Description  88 non-null     object
 12  Order_Quantity       88 non-null     float64
 13   Unit_Cost           89 non-null     object
 14   Unit_Price          89 non-null     object
 15   Profit              89 non-null     object
 16   Cost                89 non-null     object
 17  Revenue              89 non-null     object
dtypes: float64(2), int64(3), object(13)
memory usage: 12.6+ KB

In [5]:
df.drop_duplicates()

,Sales_Order #,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product_Description,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,261695,12/1/2021,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,"$1,252.00","$2,295.00","$4,172.00","$5,008.00","$9,180.00"
1,261695,12/1/2021,1.0,December,2021,44,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
2,261697,12/2/2021,2.0,December,2021,37,M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,$420.00,$769.00,$698.00,$840.00,"$1,538.00"
3,261698,12/2/2021,2.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,$420.00,$769.00,$349.00,$420.00,$769.00
4,261699,12/3/2021,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,$0.00,"$2,295.00","$2,086.00",$0.00,"$4,590.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,261778,12/22/2021,22.0,December,2021,41,M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
85,261779,12/23/2021,23.0,December,2021,30,F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
86,261780,12/23/2021,23.0,December,2021,31,F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,"$1,252.00","$2,295.00","$1,043.00","$1,252.00","$2,295.00"
87,261781,12/23/2021,23.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,$295.00,$540.00,$245.00,$295.00,$540.00
88,261782,12/24/2021,24.0,December,2021,38,M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,"$1,252.00","$2,295.00","$4,172.00","$5,008.00","$9,180.00"

In [6]:
# Checking columns
df.columns

Index(['Sales_Order #', 'Date', 'Day', 'Month', 'Year', 'Customer_Age',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product_Description', 'Order_Quantity', ' Unit_Cost ',
       ' Unit_Price ', ' Profit ', ' Cost ', 'Revenue'],
      dtype='object')

In [7]:
# The column 'Sales_Order #' has the # character. It has to be removed.
df.rename(columns = {'Sales_Order #': 'Sales_Order'}, inplace = True)

In [8]:
# There are spaces in the column name ('Unit_Cost', 'Unit_Price', 'Profit', 'Cost')
df.columns = df.columns.str.replace(' ', '')

In [9]:
# Changing the column names to lowercase
df.columns = df.columns.str.lower()

In [10]:
# df.info()

In [11]:
df.index

RangeIndex(start=0, stop=89, step=1)

In [12]:
# Setting 'sales_order' column as index
df.set_index('sales_order')

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261695,12/1/2021,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,"$1,252.00","$2,295.00","$4,172.00","$5,008.00","$9,180.00"
261695,12/1/2021,1.0,December,2021,44,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
261697,12/2/2021,2.0,December,2021,37,M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,$420.00,$769.00,$698.00,$840.00,"$1,538.00"
261698,12/2/2021,2.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,$420.00,$769.00,$349.00,$420.00,$769.00
261699,12/3/2021,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,$0.00,"$2,295.00","$2,086.00",$0.00,"$4,590.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261778,12/22/2021,22.0,December,2021,41,M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
261779,12/23/2021,23.0,December,2021,30,F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,"$1,266.00","$2,320.00","$1,054.00","$1,266.00","$2,320.00"
261780,12/23/2021,23.0,December,2021,31,F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,"$1,252.00","$2,295.00","$1,043.00","$1,252.00","$2,295.00"
261781,12/23/2021,23.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,$295.00,$540.00,$245.00,$295.00,$540.00
261782,12/24/2021,24.0,December,2021,38,M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,"$1,252.00","$2,295.00","$4,172.00","$5,008.00","$9,180.00"

# Changing/Casting data types

In [13]:
# Checking the data types
df.dtypes

sales_order              int64
date                    object
day                    float64
month                   object
year                     int64
customer_age             int64
customer_gender         object
country                 object
state                   object
product_category        object
sub_category            object
product_description     object
order_quantity         float64
unit_cost               object
unit_price              object
profit                  object
cost                    object
revenue                 object
dtype: object

In [14]:
# Changing date column from object to datetime format
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

In [15]:
#df[['unit_cost', 'unit_price', 'profit', 'cost', 'revenue']].head(5)

In [16]:
# Stripping $ and commas from the columns 'unit_cost', 'unit_price', 'profit', 'cost' and, 'revenue'. 
df['unit_cost'] = df['unit_cost'].str.lstrip('$')
df['unit_cost'] = df['unit_cost'].str.replace(',','')
df['unit_cost'] = df['unit_cost'].astype(float)

In [17]:
df['unit_price'] = df['unit_price'].str.lstrip('$')
df['unit_price'] = df['unit_price'].str.replace(',', '')
df['unit_price'] = df['unit_price'].astype(float)

In [18]:
df['profit'] = df['profit'].str.lstrip('$')
df['profit'] = df['profit'].str.replace(',', '')
df['profit'] = df['profit'].astype(float)

In [19]:
df['cost'] = df['cost'].str.lstrip('$')
df['cost'] = df['cost'].str.replace(',', '')
df['cost'] = df['cost'].astype(float)

In [20]:
df['revenue'] = df['revenue'].str.lstrip('$')
df['revenue'] = df['revenue'].str.replace(',', '')
df['revenue'] = df['revenue'].astype(float)

In [21]:
# setting 'sales_order' as index
df.set_index('sales_order', inplace = True)

In [22]:
#df

In [23]:
# Checking null values in the dataframe
df.isnull().sum()

date                   0
day                    1
month                  0
year                   0
customer_age           0
customer_gender        0
country                0
state                  0
product_category       0
sub_category           0
product_description    1
order_quantity         1
unit_cost              0
unit_price             0
profit                 0
cost                   0
revenue                0
dtype: int64

In [24]:
# Filtering the data for locating the null value in the 'order_quanity' column
filt_or_qty = df['order_quantity'].isnull()
df.loc[filt_or_qty]
# The output reveals that data on 'order_quantity' is missing, while 'cost' and 'revenue' is missing and should be updated.

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261716,2021-12-08,8.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",NaN,295.0,540.0,245.0,0.0,0.0

In [25]:
# For finding out the values of 'order_quantity', 'cost', 'revenue'
filt_unit_price = (df['unit_price'] == 540) & (df['product_description'] == 'Mountain-500 Black, 42')
df.loc[filt_unit_price]

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261716,2021-12-08,8.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",NaN,295.0,540.0,245.0,0.0,0.0
261781,2021-12-23,23.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295.0,540.0,245.0,295.0,540.0

In [26]:
# The values of 'order_quantity', 'cost', 'revenue', were found to be 1, 295, 540 respectively. Updating the respective columns 
df.loc[filt_or_qty, ['order_quantity', 'cost', 'revenue']]= [1, 295, 540]
df.loc[filt_or_qty]

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261716,2021-12-08,8.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295.0,540.0,245.0,295.0,540.0

In [27]:
# Filtering data to locate the row where product description is null
filt_pro_desc =df['product_description'].isnull()
df.loc[filt_pro_desc]

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261715,2021-12-08,8.0,December,2021,39,F,United States,Oregon,Bikes,Mountain Bikes,NaN,2.0,1252.0,2295.0,2086.0,2504.0,4590.0

In [28]:
# for checking the row if the data is missing or unknown/not available
filt_unit_price = df['unit_price'] == 2295
#df.loc[filt_unit_price].head(5)

# The output of the code shows that the data is missing and the null value needs to be replaced with 'Mountain-200 Black, 46'

In [29]:
# For adding the missing value in the 'product_description' column
df.loc[filt_pro_desc, ['product_description']]= ['Mountain-200 Black, 42']
df.loc[filt_pro_desc]

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261715,2021-12-08,8.0,December,2021,39,F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Black, 42",2.0,1252.0,2295.0,2086.0,2504.0,4590.0

In [30]:
# Checking null values in the dataframe
#df.isnull().sum()

In [31]:
# Earlier while filtering for checking for null data I came across zeros which were incorrect and accordingly updated.
# There might be zero data in the dataframe and needs to be checked.

filter_zero = (df == 0).any(axis=1)
df.loc[filter_zero]

# The output of the code reveals that in case of;
    # 'sales_order = 261699', 'unit_cost' and 'cost' have zero value
    # 'sales_order = 261702', 'unit_price' and 'revenue' have zero value
# Upon examination it seems that the data is missing and we might need to update the dataframe.

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261699,2021-12-03,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0.0,2295.0,2086.0,0.0,4590.0
261702,2021-12-04,4.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420.0,0.0,1396.0,1680.0,0.0

In [32]:
# Filtering the dataframe to ascertain the value of 'unit_cost' and 'cost' in the 'sales_order' 261699
filt = (df['product_description'] == 'Mountain-200 Black, 46') & (df['unit_price'] == 2295.0)
df.loc[filt].head(2)
# The output of the code reveals that the correct 'unit_cost' = 1252.0 and cost = 'order_quantity' * 'unit cost'

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261695,2021-12-01,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,5008.0,9180.0
261699,2021-12-03,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,0.0,2295.0,2086.0,0.0,4590.0

In [33]:
# Updating the 'unit_cost' and 'cost' columns accordingly
df.loc[filt, ['unit_cost', 'cost']]= [1252.0, 2*1252.0]
df.loc[filt]

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261695,2021-12-01,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261699,2021-12-03,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252.0,2295.0,2086.0,2504.0,4590.0
261701,2021-12-03,3.0,December,2021,37,M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261701,2021-12-03,3.0,December,2021,37,M,United States,Washington,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261703,2021-12-05,5.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261706,2021-12-05,5.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261708,2021-12-06,6.0,December,2021,27,M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261727,2021-12-11,11.0,December,2021,27,M,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261740,2021-12-14,14.0,December,2021,32,M,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261754,2021-12-18,18.0,December,2021,26,M,France,Seine (Paris),Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0
261761,2021-12-19,19.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261762,2021-12-19,19.0,December,2021,63,F,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261764,2021-12-19,19.0,December,2021,56,F,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252.0,2295.0,2086.0,2504.0,4590.0
261767,2021-12-20,20.0,December,2021,57,M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261777,2021-12-22,22.0,December,2021,27,F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 46",1.0,1252.0,2295.0,1043.0,2504.0,2295.0

In [34]:
# Again checking the dataframe for zero values.
filter_zero = (df == 0).any(axis=1)
df.loc[filter_zero]
# The output of the code reveals that in case of 'sales_order = 261702', 'unit_price' and 'revenue' have zero value.

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261702,2021-12-04,4.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",4.0,420.0,0.0,1396.0,1680.0,0.0

In [35]:
# For ascertaining the value of 'unit_price' and 'revenue'
filt = (df['unit_cost'] == 420.0) & (df['product_description'] == 'Mountain-400-W Silver, 42')
#df.loc[filt].head(3)
# The output of the code reveals that  'unit_price' = 769.0 and 'Revenue' = 'order_quantity' * 'unit_price'

In [36]:
# Updating the 'unit_price' and 'revenue' columns 

df.loc[filt, ['unit_price', 'revenue']]= [769.0, 4*769.0]
#df.loc[filt]

In [37]:
# Checking if there are any zero values in the dataframe
filter_zero = (df == 0).any(axis=1)
df.loc[filter_zero]

Empty DataFrame
Columns: [date, day, month, year, customer_age, customer_gender, country, state, product_category, sub_category, product_description, order_quantity, unit_cost, unit_price, profit, cost, revenue]
Index: []

In [38]:
#df.head(10)

In [39]:
# The column 'product_description' contains information on model, size, and color.
# Splitting the column to make new columns containing information on model, size, and color.
df[['model', 'bike_size']] = df['product_description'].str.split(',', expand = True)
df[['bike_model', 'bike_color']] = df['model'].str.split(' ', expand = True)

In [40]:
# For showing all the columns in the dataset
pd.set_option('display.max_columns', 22)
df.head(5)

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue,model,bike_size,bike_model,bike_color
sales_order,,,,,,,,,,,,,,,,,,,,,
261695,2021-12-01,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0,Mountain-200 Black,46,Mountain-200,Black
261695,2021-12-01,1.0,December,2021,44,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266.0,2320.0,1054.0,1266.0,2320.0,Mountain-200 Silver,42,Mountain-200,Silver
261697,2021-12-02,2.0,December,2021,37,M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420.0,769.0,698.0,840.0,1538.0,Mountain-400-W Silver,46,Mountain-400-W,Silver
261698,2021-12-02,2.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420.0,769.0,349.0,420.0,3076.0,Mountain-400-W Silver,42,Mountain-400-W,Silver
261699,2021-12-03,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252.0,2295.0,2086.0,2504.0,4590.0,Mountain-200 Black,46,Mountain-200,Black

In [41]:
df['customer_age'].unique()

array([39, 44, 37, 31, 24, 42, 35, 23, 27, 36, 47, 30, 38, 19, 33, 41, 34,
       40, 26, 32, 49, 29, 17, 25, 63, 18, 56, 57], dtype=int64)

In [42]:
# Defining age groups and then creating and populating 'age_group' column 
def categorize_age(age):
    if age < 25:
        return 'Youth'
    elif age <= 34:
        return 'Young Adults'
    else:
        return 'Adults'

df['age_group'] = df['customer_age'].apply(categorize_age)

In [43]:
# For showing all the 23 columns
pd.set_option('display.max_columns', 23)
df

,date,day,month,year,customer_age,customer_gender,country,state,product_category,sub_category,product_description,order_quantity,unit_cost,unit_price,profit,cost,revenue,model,bike_size,bike_model,bike_color,age_group
sales_order,,,,,,,,,,,,,,,,,,,,,,
261695,2021-12-01,1.0,December,2021,39,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",4.0,1252.0,2295.0,4172.0,2504.0,9180.0,Mountain-200 Black,46,Mountain-200,Black,Adults
261695,2021-12-01,1.0,December,2021,44,M,United Kingdom,England,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266.0,2320.0,1054.0,1266.0,2320.0,Mountain-200 Silver,42,Mountain-200,Silver,Adults
261697,2021-12-02,2.0,December,2021,37,M,United States,California,Bikes,Mountain Bikes,"Mountain-400-W Silver, 46",2.0,420.0,769.0,698.0,840.0,1538.0,Mountain-400-W Silver,46,Mountain-400-W,Silver,Adults
261698,2021-12-02,2.0,December,2021,31,F,Australia,New South Wales,Bikes,Mountain Bikes,"Mountain-400-W Silver, 42",1.0,420.0,769.0,349.0,420.0,3076.0,Mountain-400-W Silver,42,Mountain-400-W,Silver,Young Adults
261699,2021-12-03,3.0,December,2021,37,F,United States,California,Bikes,Mountain Bikes,"Mountain-200 Black, 46",2.0,1252.0,2295.0,2086.0,2504.0,4590.0,Mountain-200 Black,46,Mountain-200,Black,Adults
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261778,2021-12-22,22.0,December,2021,41,M,Germany,Hessen,Bikes,Mountain Bikes,"Mountain-200 Silver, 38",1.0,1266.0,2320.0,1054.0,1266.0,2320.0,Mountain-200 Silver,38,Mountain-200,Silver,Adults
261779,2021-12-23,23.0,December,2021,30,F,United States,Oregon,Bikes,Mountain Bikes,"Mountain-200 Silver, 42",1.0,1266.0,2320.0,1054.0,1266.0,2320.0,Mountain-200 Silver,42,Mountain-200,Silver,Young Adults
261780,2021-12-23,23.0,December,2021,31,F,Canada,British Columbia,Bikes,Mountain Bikes,"Mountain-200 Black, 42",1.0,1252.0,2295.0,1043.0,1252.0,2295.0,Mountain-200 Black,42,Mountain-200,Black,Young Adults
261781,2021-12-23,23.0,December,2021,35,F,United States,California,Bikes,Mountain Bikes,"Mountain-500 Black, 42",1.0,295.0,540.0,245.0,295.0,540.0,Mountain-500 Black,42,Mountain-500,Black,Adults
261782,2021-12-24,24.0,December,2021,38,M,Australia,Queensland,Bikes,Mountain Bikes,"Mountain-200 Black, 42",4.0,1252.0,2295.0,4172.0,5008.0,9180.0,Mountain-200 Black,42,Mountain-200,Black,Adults

In [44]:
# Dropping the not useful columns.
df.drop(columns=['day', 'month', 'year', 'product_description','model' ], inplace = True)

In [45]:
df.head(5)

,date,customer_age,customer_gender,country,state,product_category,sub_category,order_quantity,unit_cost,unit_price,profit,cost,revenue,bike_size,bike_model,bike_color,age_group
sales_order,,,,,,,,,,,,,,,,,
261695,2021-12-01,39,F,United States,California,Bikes,Mountain Bikes,4.0,1252.0,2295.0,4172.0,2504.0,9180.0,46,Mountain-200,Black,Adults
261695,2021-12-01,44,M,United Kingdom,England,Bikes,Mountain Bikes,1.0,1266.0,2320.0,1054.0,1266.0,2320.0,42,Mountain-200,Silver,Adults
261697,2021-12-02,37,M,United States,California,Bikes,Mountain Bikes,2.0,420.0,769.0,698.0,840.0,1538.0,46,Mountain-400-W,Silver,Adults
261698,2021-12-02,31,F,Australia,New South Wales,Bikes,Mountain Bikes,1.0,420.0,769.0,349.0,420.0,3076.0,42,Mountain-400-W,Silver,Young Adults
261699,2021-12-03,37,F,United States,California,Bikes,Mountain Bikes,2.0,1252.0,2295.0,2086.0,2504.0,4590.0,46,Mountain-200,Black,Adults

In [46]:
# Rearranging the columns
df = df[['date', 'customer_age', 'age_group', 'customer_gender', 'country', 'state', 'product_category', 'sub_category',
         'bike_size', 'bike_model', 'bike_color', 'order_quantity', 'unit_cost', 'unit_price', 'profit', 'cost', 'revenue']]

In [47]:
# df

In [48]:
# While checking all the unique values in all the columns. I found that the 'United States' has spaces between and before.
df['country'].unique()

array(['United States', 'United Kingdom', ' United States', 'Australia',
       'United  States', 'United States ', 'Germany', 'Canada', 'France'],
      dtype=object)

In [49]:
# Filtering the 'Country' columns
filt_us = df['country'].str.contains('United') & df['country'].str.contains('States')
df.loc[filt_us, 'country']

sales_order
261695     United States
261697     United States
261699    United  States
261701    United States
261701     United States
261703     United States
261706     United States
261711     United States
261712     United States
261715     United States
261716     United States
261719     United States
261722     United States
261723     United States
261728     United States
261729     United States
261731     United States
261734     United States
261736     United States
261739     United States
261740     United States
261742     United States
261746     United States
261753     United States
261755     United States
261759     United States
261760     United States
261761     United States
261765     United States
261773     United States
261774     United States
261779     United States
261781     United States
Name: country, dtype: object

In [50]:
# Updating the column 
df.loc[filt_us, 'country'] = 'United States'

In [51]:
# The issue has been resolved
df['country'].unique()

array(['United States', 'United Kingdom', 'Australia', 'Germany',
       'Canada', 'France'], dtype=object)

In [52]:
# Clean Data
df

,date,customer_age,age_group,customer_gender,country,state,product_category,sub_category,bike_size,bike_model,bike_color,order_quantity,unit_cost,unit_price,profit,cost,revenue
sales_order,,,,,,,,,,,,,,,,,
261695,2021-12-01,39,Adults,F,United States,California,Bikes,Mountain Bikes,46,Mountain-200,Black,4.0,1252.0,2295.0,4172.0,2504.0,9180.0
261695,2021-12-01,44,Adults,M,United Kingdom,England,Bikes,Mountain Bikes,42,Mountain-200,Silver,1.0,1266.0,2320.0,1054.0,1266.0,2320.0
261697,2021-12-02,37,Adults,M,United States,California,Bikes,Mountain Bikes,46,Mountain-400-W,Silver,2.0,420.0,769.0,698.0,840.0,1538.0
261698,2021-12-02,31,Young Adults,F,Australia,New South Wales,Bikes,Mountain Bikes,42,Mountain-400-W,Silver,1.0,420.0,769.0,349.0,420.0,3076.0
261699,2021-12-03,37,Adults,F,United States,California,Bikes,Mountain Bikes,46,Mountain-200,Black,2.0,1252.0,2295.0,2086.0,2504.0,4590.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261778,2021-12-22,41,Adults,M,Germany,Hessen,Bikes,Mountain Bikes,38,Mountain-200,Silver,1.0,1266.0,2320.0,1054.0,1266.0,2320.0
261779,2021-12-23,30,Young Adults,F,United States,Oregon,Bikes,Mountain Bikes,42,Mountain-200,Silver,1.0,1266.0,2320.0,1054.0,1266.0,2320.0
261780,2021-12-23,31,Young Adults,F,Canada,British Columbia,Bikes,Mountain Bikes,42,Mountain-200,Black,1.0,1252.0,2295.0,1043.0,1252.0,2295.0
261781,2021-12-23,35,Adults,F,United States,California,Bikes,Mountain Bikes,42,Mountain-500,Black,1.0,295.0,540.0,245.0,295.0,540.0
261782,2021-12-24,38,Adults,M,Australia,Queensland,Bikes,Mountain Bikes,42,Mountain-200,Black,4.0,1252.0,2295.0,4172.0,5008.0,9180.0